{
  "info": {
    "title": "Worklient API",
    "version": "1.0.0",
    "description": "Worklient API - Review workflow management system",
    "contact": {
      "name": "Worklient API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.worklient.com",
      "description": "Production server"
    },
    {
      "url": "https://api-dev.worklient.com",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "openapi": "3.1.0",
  "components": {
    "schemas": {
      "ValidationErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Validation error response",
              "example": {
                "error": {
                  "code": "VALIDATION_ERROR",
                  "message": "Invalid request payload",
                  "details": [
                    {
                      "field": "email",
                      "message": "Invalid email format"
                    }
                  ]
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      },
      "ForbiddenErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Forbidden error response",
              "example": {
                "error": {
                  "code": "FORBIDDEN",
                  "message": "Access denied"
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      },
      "NotFoundErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Not found error response",
              "example": {
                "error": {
                  "code": "NOT_FOUND",
                  "message": "Resource not found"
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      },
      "UnauthorizedErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Unauthorized error response",
              "example": {
                "error": {
                  "code": "UNAUTHORIZED",
                  "message": "Unauthorized"
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      },
      "ConflictErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Conflict error response",
              "example": {
                "error": {
                  "code": "CONFLICT",
                  "message": "Resource conflict"
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      },
      "InternalErrorResponse": {
        "_def": {
          "unknownKeys": "strip",
          "catchall": {
            "_def": {
              "typeName": "ZodNever"
            },
            "~standard": {
              "version": 1,
              "vendor": "zod"
            }
          },
          "typeName": "ZodObject",
          "openapi": {
            "metadata": {
              "0": "B",
              "1": "a",
              "2": "s",
              "3": "e",
              "4": "E",
              "5": "r",
              "6": "r",
              "7": "o",
              "8": "r",
              "9": "R",
              "10": "e",
              "11": "s",
              "12": "p",
              "13": "o",
              "14": "n",
              "15": "s",
              "16": "e",
              "description": "Internal server error response",
              "example": {
                "error": {
                  "code": "INTERNAL_ERROR",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "~standard": {
          "version": 1,
          "vendor": "zod"
        },
        "_cached": null
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from Cognito authentication"
      }
    },
    "parameters": {}
  },
  "paths": {
    "/organization": {
      "get": {
        "summary": "Get organization details",
        "description": "Retrieve the current organization information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "reminderEnabled": {
                      "type": "boolean"
                    },
                    "reminderIntervalDays": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update organization settings",
        "description": "Update organization settings including reminder preferences",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "reminderEnabled": {
                    "type": "boolean"
                  },
                  "reminderIntervalDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  }
                },
                "additionalProperties": false,
                "description": "Organization settings update request",
                "example": {
                  "reminderEnabled": true,
                  "reminderIntervalDays": 7
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "reminderEnabled": {
                      "type": "boolean"
                    },
                    "reminderIntervalDays": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Validation error response",
                  "example": {
                    "error": {
                      "code": "VALIDATION_ERROR",
                      "message": "Invalid request payload",
                      "details": [
                        {
                          "field": "email",
                          "message": "Invalid email format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Forbidden error response",
                  "example": {
                    "error": {
                      "code": "FORBIDDEN",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organization/invitations": {
      "get": {
        "summary": "Get organization invitations",
        "description": "Retrieve pending invitations for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination",
              "example": "eyJpZCI6IjEyMzQ1Njc4LTkwYWItY2RlZi0xMjM0LTU2Nzg5MGFiY2RlZiIsInRpbWVzdGFtcCI6IjIwMjQtMDEtMDFUMDA6MDA6MDAuMDAwWiJ9"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "description": "Maximum number of items to return (1-100)",
              "example": "20"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of invitations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not found error response",
                  "example": {
                    "error": {
                      "code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "Get clients",
        "description": "Retrieve all clients for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination",
              "example": "eyJpZCI6IjEyMzQ1Njc4LTkwYWItY2RlZi0xMjM0LTU2Nzg5MGFiY2RlZiIsInRpbWVzdGFtcCI6IjIwMjQtMDEtMDFUMDA6MDA6MDAuMDAwWiJ9"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "description": "Maximum number of items to return (1-100)",
              "example": "20"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not found error response",
                  "example": {
                    "error": {
                      "code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create client",
        "description": "Create a new client",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "description": "Create client request",
                "example": {
                  "name": "Acme Corporation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "message",
                    "userId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Validation error response",
                  "example": {
                    "error": {
                      "code": "VALIDATION_ERROR",
                      "message": "Invalid request payload",
                      "details": [
                        {
                          "field": "email",
                          "message": "Invalid email format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}": {
      "patch": {
        "summary": "Update client",
        "description": "Update an existing client",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "additionalProperties": false,
                "description": "Update client request",
                "example": {
                  "name": "Acme Corporation Updated"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "clientId": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "message",
                    "clientId",
                    "userId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Validation error response",
                  "example": {
                    "error": {
                      "code": "VALIDATION_ERROR",
                      "message": "Invalid request payload",
                      "details": [
                        {
                          "field": "email",
                          "message": "Invalid email format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not found error response",
                  "example": {
                    "error": {
                      "code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/reviewers": {
      "post": {
        "summary": "Invite client reviewer",
        "description": "Invite a reviewer to a client",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false,
                "description": "Invite reviewer request",
                "example": {
                  "email": "reviewer@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reviewer invited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "clientId": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "message",
                    "clientId",
                    "userId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Validation error response",
                  "example": {
                    "error": {
                      "code": "VALIDATION_ERROR",
                      "message": "Invalid request payload",
                      "details": [
                        {
                          "field": "email",
                          "message": "Invalid email format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Not found error response",
                  "example": {
                    "error": {
                      "code": "NOT_FOUND",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Internal server error response",
                  "example": {
                    "error": {
                      "code": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/review-items": {
      "get": {
        "summary": "Get review items",
        "description": "Retrieve all review items for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination",
              "example": "eyJpZCI6IjEyMzQ1Njc4LTkwYWItY2RlZi0xMjM0LTU2Nzg5MGFiY2RlZiIsInRpbWVzdGFtcCI6IjIwMjQtMDEtMDFUMDA6MDA6MDAuMDAwWiJ9"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "description": "Maximum number of items to return (1-100)",
              "example": "20"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of review items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
                            "10": "l",
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "description": "Unauthorized error response",
                  "example": {
                    "error": {
                      "code": "UNAUTHORIZED",
                      "message": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "0": "B",
                  "1": "a",
                  "2": "s",
                  "3": "e",
                  "4": "E",
                  "5": "r",
                  "6": "r",
                  "7": "o",
                  "8": "r",
                  "9": "R",
                  "10": "e",
                  "11": "s",
                  "12": "p",
                  "13": "o",
                  "14": "n",
                  "15": "s",
                  "16": "e",
                  "type": "object",
                  "properties": {
                    "error": {
                      "0": "E",
                      "1": "r",
                      "2": "r",
                      "3": "o",
                      "4": "r",
                      "5": "O",
                      "6": "b",
                      "7": "j",
                      "8": "e",
                      "9": "c",
                      "10": "t",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "0": "E",
                            "1": "r",
                            "2": "r",
                            "3": "o",
                            "4": "r",
                            "5": "D",
                            "6": "e",
                            "7": "t",
                            "8": "a",
                            "9": "i",
[...]
